[Unit]
Description=noVNC server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/noVNC/utils/novnc_proxy --listen 80 --vnc localhost:5901

[Install]
WantedBy=multi-user.target
